cffi==1.8.3
cryptography==1.5.2
cssselect==1.0.0
dj-database-url==0.4.1
Django==1.10.2
idna==2.1
jsonschema==2.5.1
keyring==10.0.2
lxml==3.6.4
pep8==1.7.0
psycopg2==2.6.2
py==1.4.31
pyasn1==0.1.9
pycparser==2.17
pytest==3.0.3
pytest-django==3.0.0
pytest-json==0.4.0
SecretStorage==2.3.1
selenium==3.0.1
six==1.10.0
splinter==0.7.4
