<!doctype html>
<html>
	<head>
		<title>Squawker</title>
	</head>
	
	<body>
		<h1>Please enter your new squawker here:</h1>
		<p></p>
		<form action='{% url 'indexw' 1 %}' method='POST'>
		{% csrf_token %}
			<textarea name="msg" rows="2" cols="70" maxlength="140"></textarea>
			<input type='submit'>
		</form>
		<h1>Here are new posts:</h1>
		<p></p>
		{% for j,i in allthepost %}
			<p>{{ j }}:{{i.message_text}}<p>
		{% endfor %}
		{% if prev == True %}
			<button><a href='{% url 'indexw' nowpageprev %}'>prev</a></button>
		{% endif %}
		{% if nextp == True %}
			<button><a href='{% url 'indexw' nowpagenext %}'>next</a></button>
		{% endif %}
	</body>
<html>
