<!DOCTYPE html>
<html>
	<head>
		<title>squawker</title>
	<head>
	<body>
		<div id="postMsg">
			<form action="{% url 'index' %}" method="POST">
			{% csrf_token %}
				<label for="msg">New message</label>
				<input type="test" name="posts" maxlength="140"></input>
				<input type="submit" value="Submit"></input>
			</form>
		</div>
		<div id="showMsg">
			<label for="post">Posts</label>
			{% for item in new %}
			<div id="show">
				{{ item.message }}
			</div>
			{% endfor %}
		</div>
	</body>
</html>

