<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Django Squawker</title>
		<meta charset="utf-8"/>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
	</head>
	<body>
		
		<div class="panel-body" style="padding: 50px">
			{% for s in All_squawks %}
				<div>{{ s.txt }}</div>
			{% endfor %}
		</div>
		
		<div style="padding: 50px">
			<form class="form-inline" method='post' action="{% url 'homepage:home' %}">
				
				{% csrf_token %}
				<div class="form-group">
					Enter Squawk: 
					<input class="form-control" type="text" maxlength="140" name = 'content' required />
					<input class="btn btn-primary" type="submit" class="form-control" value="Submit" />
				</div>
			
			</form>
		</div>
		
	</body>
</html>
