<!doctype html>
<html lang="en">
<head>
    <title>Squawker</title>
</head>

<body>
    <form action="{% url 'squawk:index' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Send!</button>
    </form>

    {% if squawks %}
        <ul>
            {% for item in squawks %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
        <p>{{total}} squawks available</p>
    {% else %}
        <p>No squawks posted!</p>
    {% endif %}

    {% if has_next %}
        <a href="">Next</a>
    {% endif %}

</body>
