{% extends "base.html" %}
{% block body %}
  <div class="container">
    <form action="/add_squawk/" method="post">
      <div class="form-group">
        <label for="squawk_text">what's on your mind?</label>
        <input type="text" class="form-control" name="squawk_text" pattern=".{1,140}" size="100" placeholder="Squawk" oninvalid="alert('140 characters or fewer')">
      </div>
      <input type="submit" class="btn btn-default" value="submit">
    </form>
  </div>

  <div class="container">
    <div class="columns large-12">
  		<h2>
        Past squawks {{ context }}
      </h2>
  	</div>


{% endblock %}
